.mainblock--bg1 {
    border-radius: 0px 0px 80px 80px;
}

.block {
    &__container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 1;

        &--main {
            position: relative;
            background-size: cover;
            border-bottom-left-radius: 80px;
            border-bottom-right-radius: 80px;

            @media (max-width: 1024px) {
                border-bottom-left-radius: 40px;
                border-bottom-right-radius: 40px;
            }

            @media (max-width: 560px) {
                border-bottom-left-radius: 20px;
                border-bottom-right-radius: 20px;
            }
        }
    }
}

.height__mainblock {
    height: 1029px;

    @media (max-width: 1580px) {
        height: 664px;
    }

    @media (max-width: 768px) {
        height: 714px;
    }

    // @media (max-width: 1024px) {}

    @media (max-width: 560px) {
        height: 726px;
    }

    & .mainblock {
        height: 582px;
        width: 100%;
        position: absolute;

        @media (max-width: 1580px) {
            height: 400px;
        }

        @media (max-width: 768px) {
            height: 420px;
        }
    }
}

.bg {
    &__image__dark {
        position: absolute;
        width: 100%;
        height: 100%;
        background-image: url("../../assets/images/backgroundDark.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        transition: 2s;
    }

    &__image__light {
        position: absolute;
        width: 100%;
        height: 100%;
        background-image: url("../../assets/images/backgroundLight.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        transition: 2s;
    }
}

.bg__elements__dark {
    position: absolute;
    transform: scale(130%);
    // width: 1285px;
    height: 1857px;
}

.lineLeft {
    left: -48%;
    top: -14%;
    position: absolute;
    width: 1800px;
    @media (max-width: 1580px) {
        left: -16vw;
        top: -26%;
    }
    @media (max-width: 1440px) {
        left: -400px;
    }
}

.Sun__left {
    top: 0%;
    left: -10%;
    @media (max-width: 1580px) {
        left: -6%;
        top: 14%;
    }
}

.left-x-axis,
.left-y-axis {
    animation: 6s ease-in-out infinite alternate-reverse;
}

.left-x-axis {
    -webkit-animation-name: left-moveX;
    animation-name: left-moveX;
}

.left-y-axis {
    -webkit-animation-name: left-moveY;
    animation-name: left-moveY;
}

@keyframes left-moveX {
    0% {
        -webkit-transform: translateX(50px);
        transform: translateX(50px);
    }

    50% {
        -webkit-transform: translateX(-50px);
        transform: translateX(-50px);
    }

    to {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes left-moveY {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    to {
        -webkit-transform: translateY(-80px);
        transform: translateY(-80px);
    }
}

.lineBottom {
    -webkit-animation: lineBottom 6s ease-in-out infinite alternate forwards;
    animation: lineBottom 6s ease-in-out infinite alternate forwards;
    top: 40%;
    left: -10%;
    position: absolute;
    width: 800px;
}

.Sun__bottom {
    top: 30%;
}

@keyframes lineBottom {
    0% {
        transform: translateY(0);
    }

    to {
        transform: translateY(-10%);
    }
}

.lineRight {
    right: -170%;
    top: 16%;
    position: absolute;
    width: 1800px;
    @media (max-width: 1580px) {
        right: -80vw;
    }
    @media (max-width: 1440px) {
        right: -1400px;
    }
}

.Sun__right {
    right: -130%;
}

.right-x-axis,
.right-y-axis {
    animation: 6s ease-in-out infinite alternate-reverse;
}

.right-x-axis {
    -webkit-animation-name: right-moveX;
    animation-name: right-moveX;
}

.right-y-axis {
    -webkit-animation-name: right-moveY;
    animation-name: right-moveY;
}

@-webkit-keyframes right-moveX {
    0% {
        -webkit-transform: translateX(-20px);
        transform: translateX(-20px);
    }

    50% {
        -webkit-transform: translateX(70px);
        transform: translateX(70px);
    }

    to {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes right-moveX {
    0% {
        -webkit-transform: translateX(-20px);
        transform: translateX(-20px);
    }

    50% {
        -webkit-transform: translateX(70px);
        transform: translateX(70px);
    }

    to {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@-webkit-keyframes right-moveY {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    to {
        -webkit-transform: translateY(-100px);
        transform: translateY(-100px);
    }
}

@keyframes right-moveY {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    to {
        -webkit-transform: translateY(-100px);
        transform: translateY(-100px);
    }
}

.bg-video {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transition: 1s;

    &.gif {
        top: -10px;
        left: -10px;
        filter: blur(7px);
    }
}

.staticBgBottom {
    @media (max-width: 1024px) {
        &::before {
            content: "";
            position: absolute;
            width: 1300px;
            height: 800px;
            background-image: url(../../assets/images/staticBgBottom.svg);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: 0 100%;
            transform: translateX(-50%) translateY(20%);
            z-index: 11;

            @media (max-width: 560px) {
                content: none;
            }
        }
    }
}

.staticBgBottomSun {
    @media (max-width: 1024px) {
        &::before {
            content: "";
            position: absolute;
            width: 1300px;
            height: 800px;
            background-image: url(../../assets/images/staticBgBottomSun.svg);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: 0% 100%;
            transform: translateX(-50%) translateY(-10%);
            z-index: 11;

            @media (max-width: 560px) {
                content: none;
            }
        }
    }
}

.after__before__dark {
    @media (max-width: 1024px) {
        &::before {
            content: "";
            position: absolute;
            width: 1000px;
            height: 800px;
            background-image: url(../../assets/images/staticBgLeft.svg);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: 0 70%;
            transform: translateX(-50%);
            z-index: 11;

            @media (max-width: 768px) {
                width: 920px;
                background-position: 0 26vw;
            }

            @media (max-width: 500px) {
                width: 900px;
            }

            @media (max-width: 560px) {
                width: 170vw;
                background-position: 0% 52vw;
            }
        }

        &::after {
            content: "";
            position: absolute;
            width: 1000px;
            height: 800px;
            background-image: url(../../assets/images/staticBgRight.svg);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: 0% 30%;
            transform: translateX(-36%);
            z-index: 0;

            @media (max-width: 768px) {
                width: 920px;
                background-position: 0 8vw;
            }

            @media (max-width: 500px) {
                width: 900px;
            }

            @media (max-width: 560px) {
                width: 170vw;
                background-position: 0% 34vw;
            }
        }
    }
}

.after__before__light {
    @media (max-width: 1024px) {
        &::before {
            content: "";
            position: absolute;
            width: 1000px;
            height: 800px;
            background-image: url(../../assets/images/staticBgRightSun.svg);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: 0% 70%;
            transform: translateX(-36%);
            z-index: 0;

            @media (max-width: 768px) {
                width: 920px;
                background-position: 0 26vw;
            }

            @media (max-width: 500px) {
                width: 900px;
            }

            @media (max-width: 560px) {
                width: 170vw;
                background-position: 0% 52vw;
            }
        }

        &::after {
            content: "";
            position: absolute;
            width: 1000px;
            height: 800px;
            background-image: url(../../assets/images/staticBgLeftSun.svg);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: 0 30%;
            transform: translateX(-50%);
            z-index: 11;

            @media (max-width: 768px) {
                width: 920px;
                background-position: 0 8vw;
            }

            @media (max-width: 500px) {
                width: 900px;
            }

            @media (max-width: 560px) {
                width: 170vw;
                background-position: 0% 34vw;
            }
        }
    }
}

.block__container {
    &--main {
        overflow: hidden;

        //Первый блок
        .mainblock {
            position: relative;
            margin-top: 168px;
            max-width: 75%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            @media (max-width: 1580px) {
                margin-top: 98px;
            }

            @media (max-width: 1280px) {
                margin-top: 98px;
            }

            @media (max-width: 768px) {
                margin-top: 98px;
            }

            @media (max-width: 560px) {
                margin-top: 80px;
            }

            &__banner {
                color: white;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-end;
                position: relative;
                min-height: 666px;

                @media screen and (max-width: 1580px) {
                    min-height: 438.9px;
                }

                @media screen and (max-width: 768px) {
                    min-height: 474.8px;
                }

                @media screen and (max-width: 560px) {
                    min-height: 359px;
                }

                &::after {
                    content: "";
                    position: absolute;
                    //TODO: fix
                    width: 150%;
                    height: 150%;
                    bottom: -36%;
                    right: -29%;
                    // background: url(../../assets/images/mainStarsBg.svg) 0 0
                    // no-repeat;
                    background-size: contain;
                }

                &.mt-128 {
                    margin-top: 128px;
                }

                &__text {
                    display: flex;
                    flex-direction: row;
                }
            }
        }

        .footer {
            &__next {
                position: absolute;
                bottom: 0;
                left: calc(50% - 75px);

                width: 150px;
                height: 150px;

                transform: translateY(70%);

                background-color: white;

                border-radius: 50%;
                padding-top: 14px;
                cursor: pointer;

                @media (max-width: 1024px) {
                    display: none;
                }
            }

            &__next * {
                width: 28px;
            }
        }
    }
}

.op-0 {
    opacity: 0;
}

.inline_icon {
    display: inline-block;
    margin-bottom: -2px;
    width: 24px;

    @media (max-width: 1580px) {
        width: 19px;
        margin-bottom: -1px;
    }

    @media (max-width: 1024px) {
        vertical-align: middle;
        margin-bottom: 3px;
        width: 19px;
    }

    @media (max-width: 560px) {
        // width: 2.8vw;
        width: 14px;
    }
}
